bcrypt
beautifulsoup4
cloudscraper
faker
feedparser
flask_apscheduler
Flask-PyMongo
geocoder
langchain-community
langchain-mongodb
langchain-voyageai
langchain-openai
markdown
mistune
pillow
pycountry
pydub
python-dateutil
qrcode
uwsgi
websocket-client
